body{
  margin: 0 auto;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  position: relative;
}

a {
  color: white;
  text-decoration: inherit;
}

.navigationBar{
  background-color: rgba(42,42,42,1);
  height: 50px;
  width:100%;
  text-align: right;
  position: fixed;
  z-index: 3;
}

.nameHeader{
  color: white;
  position: absolute;
  left: 7%;
  line-height: 50px;
  font-size: 26px;
}

.navigationBar > a{
  font-size: 20px;
  /*color: white;*/
  height: 42px;
  line-height: 50px;
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  left:-50px;
  font-weight: 300;
  z-index: 1;
}

.active{
  color: rgba(0,150,136,1);
  border-bottom: 2px solid rgba(0,150,136,1);
}

.triangle{
  position: absolute;
  left:50%;
  bottom: -20px;
  margin-left: -3px;
  font-size: 8px;
  /*color: rgba(0,150,136,1);*/
  color: white;
}

.banner{
  width: 100%;
  height: 550px;
  background-image: url('./baseFilter.jpg');
  background-size: cover;
}

.welcome{
  color: white;
  font-size: 31px;
  font-weight: 300;
  position: relative;
  top: 185px;
}

.bannerGreeting{
  color: white;
  font-size: 45px;
  font-weight: 600;
  position: relative;
  top: 210px;
}

.message{
  width: 100%;
  max-width: 800px;
  font-size: 28px;
  margin: 0 auto;
  padding: 80px 0;
  line-height: 33px;
}

.summary{
  font-weight: 300;
}

.quotation{
  font-size: 30px;
  color: rgba(0,150,136,1);
}

.title{
  font-size: 36px;
  color: grey;
  margin: 10px 0 20px 0;
}

.module{
  /*border: 1px solid grey;*/
  width: 35%;
  min-width: 400px;
  height: 400px;
  margin: 20px 4%;
  display: inline-block;
  position: relative;
  background-color: white;
  vertical-align: top;
}

.background{
  position: absolute;
  top: 0;
  bottom: 25%;
  width: 100%;
  background-color: rgba(0,0,0,0.81);
  color: white;
  text-align: left;
  font-size: 17px;
  font-weight: 300;
  z-index: 2;
  margin: 0;
  display: none;
}

.frontend, .backend, .resources{
  display:inline-block;
  width:35%;
  height:26%;
  padding: 8% 3% 4% 10%;
  line-height: 22px;
  vertical-align: top;
}

.modalTitle{
  font-weight: 400;
  font-size: 22px;
}

.projectImage{
  height: 75%;
  width: 100%;
  position: relative;
  top:0;
  background-size: cover;
  z-index: 1;
}

.imageSDF{
  background-image: url('./sdf.png');
}

.imageHoldem{
  background-image: url('./holdem.png');
}

.imageSygns{
  background-image: url('./sygns.png');
}

.imageTeachMe{
  background-image: url('./teachMe1.png');
}

.projectDescription{
  padding: 15px;
}

.projectDetails{
  color: rgba(119,119,119,1);
  font-size: 17px;
  font-weight: 300;
}

.services{
  background: white;
  width: 100%;
  height: 300px;
}

.portfolioContainer{
  background-color: rgba(243,243,243,1);
  padding: 50px 0;
}

.timeline{
  position: relative;
  /*border: 1px solid grey;*/
  /*height: 300px;*/
  text-align: center;
}

.timelinePhoto{
  width: 160px;
  border-radius: 50%;
  border: 10px solid rgba(243,243,243,1);
  margin-left: 30%;
}

.timelineInfo{
  width: 30%;
  height: 130px;
  display: inline-block;
  /*border: 1px solid grey;*/
  vertical-align: top;
  margin: 4% 0 0 1%;
}

.timelineInfoLeft{
  position: relative;
  left: -45%;
}

.timelineHeader{
  font-size: 18px;
  color: black;
  line-height: 21px;
  text-align: left;
}

.timelineDetail{
  width: 70%;
  font-size: 15px;
  line-height: 18px;
  color: grey;
  text-align: left;
}

.verticalLine {
  position: relative;
  left: 50%;
  height: 110px;
  width: 2px;
  margin-left: -2px;
  background-color: rgba(100,100,100,0.3);
  border: none;
}

.profile{
  width: 100%;
  max-width: 1000px;
  height: 1320px;
  padding-top: 50px;
  margin: 0 auto;
}

.profilePic{
  width: 210px;
  border-radius: 50%;
  border: 10px solid rgba(243,243,243,1);
  margin-bottom: 20px;
}

.name{
  font-size:21px;
  margin-bottom: 6px;
  color: black;
}

.role{
  color: rgba(119,119,119,1);
  font-size: 17px;
}

.profileLinkContainer{
  padding: 10px 0;
}

.profileLink{
  width: 50px;
  margin: 0 5px;
}
/*CONTACT CSS*/

.contactContainer{
  background-color: rgba(42,42,42,1);
  margin-top: 25px;
  text-align: center;
  padding: 20px 0 38px 0;
}

.contactBox{
  width: 470px;
  /*border: 1px solid grey;*/
  border-radius: 5px;
  padding-top:11px;
  min-height: 300px;
  text-align: left;
  margin: 50px auto 0 auto;
  background-color: rgba(34,36,40,1.0);
  display: inline-block;
}

.contactBox h3{
  text-align: center;
  color: white;
  font-size: 23px;
}

.contactBox hr{
  width: 80%;
}

.contactBox div{
  margin-top: 10px;
}

.contactBox .messageInput, .contactBox label{
  width: 63%;
  height: 30px;
  margin: 10px 0 20px 17%;
  padding-left: 10px;
  border: none;
  border-radius: 3px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.contactBox label{
  color: white;
}

.contactBox hr{
  margin-bottom: 20px;
}

.messageBox{
  width: 63%;
  height: 140px;
  margin: 10px 0 20px 17%;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 5px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 15px;  
}

.contactBox button{
  color: white;
  background-color: rgba(0,150,136,1);
  width: 100px;
  height: 39px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  margin: 10px 10px 30px 17%;
}

footer{
  height: 50px;
  background-color: rgba(28,28,28,0.9);
  color: grey;
  font-size: 18px;
  line-height: 50px;
}
